.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-image: url('resources/teodor-skrebnev-DcIZJsskTfg-unsplash.jpg');
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: #007bff;
}

h3 {
  color: #6c757d;
}