body {
  background-image: url('resources/silverware.jpg');
  background-color: #f0f0f0;
  color: #404040;
  font-family: 'Georgia', 'Garamond', sans-serif;
  font-size: 12pt;
}


h1.main-header {
  color: #A4A400;
  background-color: #F0F0F0;
  font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
  text-decoration: underline;
  display: inline-block;
  font-size: 22pt;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h3 {
  color: #A4A400;
  background-color: #F0F0F0;
  font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
  font-size: 18pt;
  text-decoration: underline;
  display: inline-block;
}

a {
  color: #a4a400;
}


