body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
}

.image-container {
  display: flex;
  justify-content: space-around;
}

img {
  width: 100px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin: 0 20px;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}

.computer-throw {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

section .results-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
